<main class="main-container">
  <div class="app-name-block-form-container">
    <h1>Projeto realizado como parte de um processo seletivo para a vaga de desenvolvedor front-end em angular</h1>
    <h4>Digite o nome de um pack e selecione uma expansão, após isso selecione um booster e veja a magica acontecer!</h4>
    <app-name-block-form></app-name-block-form>
  </div>
  <div class="app-card-container">
    <app-card></app-card>
  </div>
</main>
<div *ngIf="(isBoosterVisible$ | async)">
  <app-booster-card></app-booster-card>
</div>

<app-loading-spinner *ngIf="(isLoading$ | async)"></app-loading-spinner>
